.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

.idea/
.vscode/
*.sublime-workspace
*.sublime-project
.vs/
.code-workspace

# Anki specific
collection.media/
*.apkg
*.colpkg
*.ankiaddon

node_modules/
package-lock.json

*.bak
*.tmp
*.temp
~*
*~

*.log
log/
logs/

dist/
build/
out/

config.json
settings.json
secrets.json